.idea
.vscode/
.env
logrus.log
./pkg/logger/logrus.log
/pkg/domain/
postgresqldata
redisdata
configuration/*
!configuration/config.go
/pkg/domain/
/migrations/tern.conf
env.json
cache
.~lock.sampleData.csv#
coverage.out