{
  "IPFS.REPOPATH": "",
  "IPFS.ISLOCAL": true,
  "IPFS.CREATEREPO": true,
  "IPFS.ISREPLICATED": true,
  "IPFS.ADDRESS": "",
  "ADDRESS": ":8000",
  "CORS_AGE": "12",
  "PG.DB_HOST": "",
  "PG.DB_NAME": "",
  "PG.DB_PASSWORD": "",
  "PG.DB_PORT": "",
  "PG.DB_USERNAME": "",
  "JWTSECRET": "",
  "LOGGER.LOG_ENV": "",
  "LOGGER.LOG_LEVEL": "",
  "GRYD_CONTRACT.ADDRESS": "",
  "GRYD_CONTRACT.ABI": [],
  "CRYPTO.PRIVATE_KEY": "",
  "CRYPTO.ENDPOINT": ""
}