{
  "IPFS.REPOPATH": "",
  "IPFS.ISLOCAL": "",
  "IPFS.CREATEREPO": "",
  "CDB.CRDB_USER": "",
  "CDB.CRDB_PASSWORD": "",
  "CDB.CRDB_PORT": "",
  "CDB.CRDB_SERVER": "",
  "CDB.CRDB_DB": "",
  "CDB.CRDB_SSLMODE": "",
  "ADDRESS": ":8000",
  "CORS_AGE": "12",
  "PG.DB_HOST": "",
  "PG.DB_NAME": "",
  "PG.DB_PASSWORD": "",
  "PG.DB_PORT": "",
  "PG.DB_USERNAME": "",
  "JWTSECRET": "",
  "LOGGER.LOG_ENV": "",
  "LOGGER.LOG_LEVEL": "",
  "GRYD_CONTRACT.ADDRESS": "",
  "GRYD_CONTRACT.ABI": [],
  "CRYPTO.PRIVATE_KEY": "",
  "CRYPTO.ENDPOINT": ""
}